<ion-view>
  <ion-content >
    <!--<div style="text-align: center;">-->
    <!--<button ng-click="gogo()" class="style">获取用户名-->
    <!--</button>-->

    <!--<div style="font-size: 17px">{{item.message}}</div>-->
    <!--</div> -->
    <div class="header"></div>
    <div class="content">
      <div class="item1">
        <span></span>
        <span>未结算的交易</span>
        <span>324</span>
      </div>

      <div class="item2">
        <span></span>
        <span>未结算的指令</span>
        <span>324</span>
      </div>

      <div class="item3">
        <span></span>
        <span>带创建或关联投组单元的产品</span>
        <span>324</span>
      </div>

      <div class="item4">
        <span></span>
        <span>交易待分配</span>
        <span>324</span>
      </div>

      <div class="item5">
        <span></span>
        <span>分配到投组单元待确认</span>
        <span>324</span>
      </div>

      <div class="item6">
        <span></span>
        <span>销售系统日终检查</span>
        <span>324</span>
      </div>

      <div class="item7">
        <span></span>
        <span>未成交确认的交易</span>
        <span>324</span>
      </div>

    </div>
  </ion-content>
</ion-view>
